@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu',sans-serif;
}
body{
  background:#FFFFFF;
}
.boxContainer
{
  margin: auto;
  margin-top: auto;
  position: absolute;
  width: 530px;
  height: 35px;
  left: 490px;
  top: 50px;
  background: #818181;
  border-radius: 19px;
}
.elementsContainer
{
  width: 100%;
  height: 100%;
  border: 2px solid #747474;
  background: #818181  ;
  vertical-align: middle;
  border-radius: 10px;
}
.search
{
  border: none;
  height: 100%;
  width: 98%;
  padding: 1px 5px;
  border-radius: 10px;
  font-size: 18px;
  font-family: "Nunito";
  color: #000000;
  font-weight: 500;
}
.search:focus
{
  outline: none;
}
.material-icons
{
  font-size: 30;
  color: #000000;
}
nav{
  position: absolute;
  margin: 280px auto 0;
  border-bottom: 2px solid #3F0066;
  left: 30px;
  top: -160px;
  width: 450px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 8px;
  font-size: 0;
}
nav a{
  font-size: 18px;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  line-height: 40px;
  position: relative;
  z-index: 1;
  display: inline-block;
  text-align: center;
}
nav .animation{
  position: absolute;
  height: 5px;
  bottom: 0;
  z-index: 0;
  background: #3F0066;
  width: 170px;
  border-radius: 8px;
  transition: all .5s ease 0;
}
a:nth-child(1)
{
  width: 170px;
}
nav .start-COURSECURRICULUM,a:nth-child(1):hover~.animation
{
  width: 170px;
  left: 0;
}
a:nth-child(2)
{
  width: 280px;
}
nav .start-RELATEDCOURSE,a:nth-child(2):hover~.animation
{
  width: 280px;
  left: 170px;
}
.box1{
  position: relative;
  background: linear-gradient(to bottom, #3F0066 50%, #F3EFEF 50%);
  top: 223px;
  padding: 10px;
  text-align: center;
  overflow: hidden;
  width: 250px;
  box-shadow: 10px 5px 5px #818181;
  border-radius: 20px;
  left: 50px;
}
.box2{
  position: relative;
  background: linear-gradient(to bottom, #3F0066 50%, #F3EFEF 50%);
  top: -50px;
  left: 380px;
  padding: 10px;
  text-align: center;
  overflow: hidden;
  width: 250px;
  box-shadow: 10px 5px 5px #818181;
  border-radius: 20px;
}
.box3{
  position: relative;
  background: linear-gradient(to bottom, #3F0066 50%, #F3EFEF 50%);
  top: 0px;
  left: 380px;
  padding: 10px;
  text-align: center;
  overflow: hidden;
  width: 250px;
  box-shadow: 10px 5px 5px #818181;
  border-radius: 20px;
}
.box4{
  position: relative;
  background: linear-gradient(to bottom, #3F0066 50%, #F3EFEF 50%);
  top: -270px;
  left: 50px;
  padding: 10px;
  text-align: center;
  overflow: hidden;
  width: 250px;
  box-shadow: 10px 5px 5px #818181;
  border-radius: 20px;
}
.box5{
  position: relative;
  background: #F3EFEF;
  top: -900px;
  left: 840px;
  padding: 10px;
  text-align: center;
  overflow: hidden;
  width: 500px;
  height: 600px;
  box-shadow: 10px 5px 5px #818181;
  border-radius: 20px;
}
.box1 h2{
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 29px;
  color: #FFFFFF;
  z-index: 1;
  opacity: 0.9;
}
.box2 h2{
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 29px;
  color: #FFFFFF;
  z-index: 1;
  opacity: 0.9;
}
.box3 h2{
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 29px;
  color: #FFFFFF;
  z-index: 1;
  opacity: 0.9;
}
.box4 h2{
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 29px;
  color: #FFFFFF;
  z-index: 1;
  opacity: 0.9;
}
.box1 h3
{
  margin: 0;
  padding: 10px;
  color: #FFFFFF;
  font-size: 20px;
}
.box2 h3
{
  margin: 0;
  padding: 10px;
  color: #FFFFFF;
  font-size: 20px;
}
.box3 h3
{
  margin: 0;
  padding: 10px;
  color: #FFFFFF;
  font-size: 20px;
}
.box4 h3
{
  margin: 0;
  padding: 10px;
  color: #FFFFFF;
  font-size: 20px;
}
.box1 p{
  text-align: justify;
  margin-top: 50px;

}
.box1 button{
  display: block;
  text-align: right;
  margin: 10px 0;
  background: #E91D3D;
  border: none;
  color: #FFFFFF;
  outline: none;
  font-size: 13px;
  padding: 5px 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.box1 button:hover{
  transform: scale(0.9);
}
.box2 p{
  text-align: justify;
  margin-top: 50px;

}
.box2 button{
  display: block;
  text-align: right;
  margin: 10px 0;
  background: #E91D3D;
  border: none;
  color: #FFFFFF;
  outline: none;
  font-size: 13px;
  padding: 5px 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.box2 button:hover{
  transform: scale(0.9);
}
.box3 p{
  text-align: justify;
  margin-top: 50px;

}
.box3 button{
  display: block;
  text-align: right;
  margin: 10px 0;
  background: #E91D3D;
  border: none;
  color: #FFFFFF;
  outline: none;
  font-size: 13px;
  padding: 5px 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.box3 button:hover{
  transform: scale(0.9);
}
.box4 p{
  text-align: justify;
  margin-top: 50px;

}
.box4 button{
  display: block;
  text-align: right;
  margin: 10px 0;
  background: #E91D3D;
  border: none;
  color: #FFFFFF;
  outline: none;
  font-size: 13px;
  padding: 5px 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.box4 button:hover{
  transform: scale(0.9);
}
.box5 .btn {
  display: block;
  text-align: center;
  width: 220px;
  height: 50px;
  margin: 150px 160px;
  background: #E91D3D;
  border: none;
  color: #FFFFFF;
  outline: none;
  font-size: 13px;
  bottom: 90px;
  padding: 15px 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.box5 .btn:hover{
  transform: scale(0.9);
}

.box5 .btn1
{
  display: block;
  text-align: center;
  width: 130px;
  height: 10px;
  margin: 80px 210px;
  background: #555555;
  border: none;
  color: #FFFFFF;
  outline: none;
  font-size: 13px;
  padding-top: 10px;
  padding-bottom: 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.box5 .btn1:hover{
  transform: scale(0.9);
}
.box5 li{
  margin-right: 120px;
  margin-left: 90px;
  margin-bottom: 10px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 800px) {
  body {
    width: 100%;
  }
  .box5 {
    margin-top: 1500px;
    left: 50px;
    width: 350px;
    height: 500px;
  }
  .box5 .btn {
    margin: 80px 80px;
  }
  .box5 .btn1{
    margin: 100px 120px;
  }
  .boxContainer {
    left: 50px;
    width: 300px;
  }
  .box1 {
    left: 120px;
    width: 200px;
  }
  .box2 {
    left: 120px;
    width: 200px;
    top: 265px;
  }
  .box3 {
    left: 120px;
    width: 200px;
    top: 300px;
  }
  .box4 {
    left: 120px;
    width: 200px;
    top: 345px;
  }


}
